__pycache__
logs
log
checkpoints
.idea
checkpoint
events.out.tfevents.*
model.ckpt*
output
*.tfrecords
outputs
stop
*.pyc
*.pyo
build
*.so
*.egg
imagenet_dogs
n0208*
*.xlsx
*.log
log.txt
download
.vscode
.vscode/*
venv/
tmp/
